.navbar {
    color: $main-color;
    background: white;

    a {
        color: $main-color;
    }

    &__logo {
        font-size: 1em;
    }

    &__logo img {
        width: 40%;
        max-width: 40px;
        margin-bottom: -8%;
        margin-right: 8px;
    }

    &__busqueda {
        i {
            color: $main-color !important;
        }
    }

    &__avatar {
        width: 40%;
        max-width: 40px;
        margin-bottom: -5%;
    }

    .navbar__cerrar-busqueda {
        top: -7px !important;
    }
}

.nav-wrapper .input-field input[type=search] {
    background: #EFEFEF;
    border-radius: 6px;
    height: 3em;
    margin-top: 0.8em;
}

.nav-wrapper .input-field input[type=search]+label {
    top: -17px;
}

.pines {
    &__single {
        margin: 2%;
    }

    &__single img {
        width: 100%;
        border-radius: 1em;
    }

    &__title {
        font-weight: bold;
        font-size: 1.3em;
        font-family: 'Nunito', sans-serif;
    }

    &__subtitle, &__user, &__hashtag {
        font-family: $quicksand-typografy;
        font-size: 0.9em;
        margin: 2px;
        padding: 2px;
    }

    &__user {
        font-weight: bold;
    }

    &__hashtag {
        font-style: italic;
        color: darkred;
        padding-bottom: 1em;
        font-weight: bold;
    }
}
