body, a {
    color: rgba(0,0,0,.87);
    font-family: $quicksand-typografy;
}

.navbar {
    color: $main-color;
    background: white;

    a {
        color: $main-color;
    }

    &__logo {
        font-size: 1em;
    }

    &__logo img {
        width: 40%;
        max-width: 40px;
        margin-bottom: -8%;
        margin-right: 8px;
    }

    &__busqueda {
        i {
            color: $main-color !important;
        }
    }

    &__avatar {
        width: 40%;
        max-width: 40px;
        margin-bottom: -5%;
    }

    .navbar__cerrar-busqueda {
        top: -7px !important;
    }
}

.nav-wrapper .input-field input[type=search] {
    background: #EFEFEF;
    border-radius: 6px;
    height: 3em;
    margin-top: 0.8em;
}

.nav-wrapper .input-field input[type=search]+label {
    top: -17px;
}

.pines {
    &__single {
        margin: 2%;
        border-radius: 1em;
    }

    &__single img {
        width: 100%;
        border-radius: 1em;
    }

    &__title {
        font-weight: bold;
        font-size: 1.3em;
        font-family: $nunito-typografy;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }

    &__subtitle, &__user, &__hashtag {
        font-family: $quicksand-typografy;
        font-size: 0.9em;
        margin: 2px;
        padding: 2px;
    }

    &__user {
        font-weight: bold;
    }

    &__hashtag {
        font-style: italic;
        color: darkred;
        padding-bottom: 1em;
        font-weight: bold;
    }
}

.modal {
    background: #EEEEEE;
    width: 100%;
    height: 100vh;
    max-width: none;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    top: 0 !important;
    left: 0 !important;

    .modal-content {
        padding: 1.5em;

        &__contenedor {
            background: white;
            border-radius: 0.8em;
            padding: 1em 1.5em 1em 1.5em;
        }

        &__contenedor img {
            max-height: 45vh;
            border-radius: 0.3em;
        }

        &__title {
            font-size: 1.4em;
            font-family: $nunito-typografy;
            text-align: left;
            padding: 0;
            margin: 0;
        }

        &__icon {
            padding: 0.5em;
            color: $main-color;
            font-size: 1em;
        }

        &__btn {
            font-family: $nunito-typografy;
            background: #BE081A;
            font-size: 1em;
            text-transform: capitalize;

            &--gray {
                font-family: $nunito-typografy;
                background: $main-color;
                color: #111;
                text-transform: capitalize;
                font-weight: bold;
            }
        }

        .row {
            margin-bottom: 0.7em;
        }
    }

    .modal-close {
        position: fixed;
        top: 0.5em;
        right: 0.5em;
    }
}